*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* margin: 2%; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-color: rgb(144, 141, 141);
    
    justify-content: center;
    align-items: center;
}

nav{
    text-align: center;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    font-size: 25px;
    background-color: black;
    color: white;
    font-style: italic;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
   
    text-align: center;
    justify-content: center;
    align-items: center;

}
.container div{
    border: 3px solid white;
    border-radius: 5px;
    padding: 50px;
    color: white;
}
.reset{
    align-items: center;
    cursor: pointer;
    margin: 1%;
    border-radius: 5px;
    padding: 8px;
}
.message{
    font-size: 35px;
    padding: 4px;
    font-family: cursive;
    background-color: black;
    color: white;
}