*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* margin: 2%; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-color: rgb(32, 32, 32);
    
    justify-content: center;
    align-items: center;
}
nav{
    text-align: center;
    background-color: black;
    color: white;
    font-style: italic;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
   margin: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.container div{
    border: 2px solid white;
    padding: 20px;
    color: white;
}
.reset{
    align-items: center;
    cursor: pointer;
    padding: 8px;
}
.message{
    font-size: large;
    color: white;
}